:root {
    color-scheme: light dark;
    font-family: 'SF Pro Display', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

:root {
    --ei-bg: #fdfdfd;
    --ei-fg: #414149;
    --ei-primary: #18181b;
    --ei-primary-fg: #fafafa;
    --ei-muted: #f4f4f5;
    --ei-muted-fg: #414149;
    --ei-border: #e4e4e7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --ei-bg: #1a1a1e;
        --ei-fg: #fafafa;
        --ei-primary: #6475f7;
        --ei-primary-fg: #ffffff;
        --ei-muted: #27272a;
        --ei-muted-fg: #a1a1aa;
        --ei-border: #27272a;
    }
}
